---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---
// src/pages/index.astro

import { fetchRestaurantes } from '../utils/api/api.js';

const restaurantes = await fetchRestaurantes();
---

<Layout>
    <h2>Lista de Restaurantes</h2>
    <ul>
        {restaurantes.map(restaurante => (
            <li key={restaurante.id}>{restaurante.nombre}</li>
        ))}
    </ul>
</Layout>